---

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        node-version: ["16.x", "18.x"]

    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: "Set up node ${{ matrix.node-version }}"
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: "Install dependencies"
        run: npm ci

      - name: "Build package"
        run: npm run build
