---
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: "Set up node ${{ matrix.node-version }}"
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "npm"

      - name: "Install dependencies"
        run: npm ci

      - name: "Check formatting"
        run: npx prettier --check .

      - name: "Run tests"
        run: npm test

  examples:
    defaults:
      run:
        working-directory: ./examples

    strategy:
      matrix:
        node-version: ["16.x", "18.x"]
        example:
          [
            "not_stringified_body",
            "print_event_context",
            "stringified_body",
            "upload_file_multipart",
            "with_callback",
            "with_event_components",
            "with_http_get",
            "with_http_post",
            "with_object",
            "with_promise",
          ]

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: "Set up node ${{ matrix.node-version }}"
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: "${{ matrix.node-version }}"
          cache: "npm"

      - name: "Link top-level"
        run: npm link

      - name: "Install dependencies"
        run: npm ci
        working-directory: "examples"

      - name: "Link local framework"
        run: npm link @scaleway/serverless-functions
        working-directory: "examples"

      - name: "Run example"
        run: node ${{ matrix.example }}/handler.js &

      - name: "Run example"
        run: |
          node ${{ matrix.example }}/handler.js &
          sleep 1
          curl http://localhost:8080
        working-directory: "examples"
